<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- Host registration only: instrumentation loads implementations from the
         androidTest APK into the target process. Keep them out of the app APK,
         especially release; MissingClass is expected only on these four hosts. -->
    <application>
        <activity android:name="com.trashed.driver.SecureChatBridgeActivity" android:exported="false" tools:ignore="MissingClass" />
        <activity android:name="com.trashed.driver.NativeChatInputActivity" android:exported="false" tools:ignore="MissingClass" />
        <activity android:name="com.trashed.driver.NavigationTestActivity" android:exported="false" tools:ignore="MissingClass" />
        <activity android:name="com.trashed.driver.NativeChatPreviewActivity"
            android:exported="false" tools:ignore="MissingClass" android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
